
.wrap{
    margin:3rem;
}

.title-wrap{
    width:15rem;
}

.wheel-img-wrap{
    height: 60rem;
    position:fixed;
    z-index: -1000;
    top:9vh;
    left:16vw;
}
.wheel-img-wrap img{
    height: 100%;
}

.the-wheel-wrap{
    margin:5rem;
    height:45vh;
}
.the-wheel-wrap div{
    height: 13rem;
}


.the-wrap img{
    height: 100%;;
}


.wheel-wrap img{
    height: 100%;
}

.the-wheel-wrap p{
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: .8rem;
}
.tag-decor{
    height: 2rem;
    width: 6rem;
    position:absolute;
    bottom:10vh;
}

.subwrap{
    height: calc(100vh - 6rem);
}
.login-info{
    transform: translateY(-50%);
    margin-right:5rem;
}
.login-info input{
    border:none;
    width:18rem;
    margin:.7rem;
}
.login-info input::placeholder{
    font-style: italic;
    color:#c0bebe;
}
.login-info div i{
    top:50%;
    transform: translateY(-50%);
    left:1rem;
}

.subwrap form button{
    flex-grow:0;
    margin:.7rem;
}
.subwrap form button:hover{
    color: white;
}

.side-text-wrap{
    width:2vw;
}

